*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    padding: 0 ;
    margin: 0 ;
    background: linear-gradient(to right, rgb(236, 236, 26), rgb(18, 18, 226));
}

.calculus {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(120px, auto) repeat(5, 100px);
}

.calculus > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(225, 225, 225, .95);
}

.calculus > button:hover {
    background-color: rgba(225, 225, 225, .5);
}

.span-2 {
    grid-column: span 2;
}

.output {
     grid-column: 1 /-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
}
.output .previous-calculus {
    color: rgba(225, 225, 225, .95);
    font-size: 1.5rem;
}

.output .current-calculus {
    color: white;
    font-size: 2.5rem;
}
